@model CompanyContactUs
<div class="container-fluid">
    <form action="/Admin/CompanyContact/Contact/@Model.Id" method="post">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Reply to Contact Message</h6>
            </div>
            <div class="card-body">


                <input type="hidden" name="Email" value="">
                <input type="hidden" name="Message" value="">

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" value="@Model.ApplicationUser.Email" disabled>
                </div>

                <div class="mb-3">
                    <label class="form-label">Original Message</label>
                    <textarea class="form-control"  rows="5" disabled >@Model.Message</textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">Your Reply</label>
                    <textarea name="ReplyMessage" class="form-control" rows="5" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-paper-plane"></i> Send Reply
                </button>
            </div>
        </div>
    </form>
</div>
