@model IEnumerable<InternalTraining.Models.EmployeeCourse>

@{
    ViewData["Title"] = "Employee Home";
}

<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Main Content -->
            <div class="container-fluid">
                <!-- Welcome Card -->
                <div class="card shadow mb-4 text-center">
                    <div class="card-body">
                        <h2 id="greeting" class="mb-3">Welcome, Employee!</h2>
                        <p class="lead">We're excited to have you join our courses 🎉</p>
                    </div>
                </div>
                <!-- Courses Row -->
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card shadow" style="background-color:#143d60 !important; color: white;">
                                <div class="card-body" style="font-size: 1.2rem;">
                                    @item.Course?.Name <br />
                                    <small>@item.InvitedOn.ToString("yyyy-MM-dd")</small>
                                </div>
                                <div class="card-footer d-flex align-items-center justify-content-between" style="font-size: 1.1rem;">
                                    <a href="/Employee/Home/CourseContent/@item.CourseId" class="small text-white stretched-link" style="color:#143D60 !important;">
                                        Start Learning
                                    </a>
                                    <div class="small" style="color:#143D60 !important;">
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
