  <main id="main" style="margin-top: 100px;">
    <section class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
      <div class="text-center">
        <div class="mb-4">
                <img src="/mnt/data/cloud_success_payment_512x512.png" alt="Success" style="width: 100px;" />
        </div>
        <h2>Payment Successful!</h2>
        <p class="mb-4">Thank you for your payment..</p>
        <a href="index.html" class="btn-get-started"@*  style="background-color: #143D60 *@;">Back to Home</a>
      </div>
    </section>
  </main>